/* make sure that dimensions of any box includes its border and padding, giving easy way to size elements */
* {
    box-sizing: border-box;
}

.container {
    background-color: #07575b;
    height: 200px;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap; /* wrap, nowrap, wrap-reverse */
    flex-direction: row; /* column-reverse, row, row-reverse, column, column-reverse */
    justify-content: center; /* center, flex-start, flex-end, space-around, space-between */
    align-items: stretch; /* center, flex-start, flex-end, stretch, baseline */
    align-content: center; /* center, stretch, flex-start, flex-end, space-between, space-around */
}

.container > div {
    background-color: #66a5ad;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    margin: 1px;
    border: 3px #c4dfe6 solid;

    /*
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    */

    /*
    flex: initial;
    flex: auto;
    flex: none;
    */
    
    flex: 1 1 150px;
}

#facebook {
    font-size: 10px;
}

#apple {
}
